<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.repository.TeamRepository">

    <select id="getTeamById" parameterType="int" resultType="org.example.domain.team.Team">
        SELECT
            tid, name, invite_link, create_link_date, user_tfid
        FROM team
        WHERE tid = #{tid}
    </select>

    <insert id="create" parameterType="org.example.domain.team.Team">
        INSERT INTO team
            (name, invite_link, create_link_date, user_tfid)
        VALUES (#{name}, #{invite_link}, #{create_link_date}, #{user_tfid});
    </insert>

    <delete id="delete" parameterType="org.example.domain.team.Team">
        DELETE
        FROM team
        WHERE tid = #{tid}
    </delete>

    <update id="update" parameterType="org.example.domain.team.Team">
        UPDATE team
        SET name = #{name}
        WHERE tid = #{tid}
    </update>
</mapper>
