<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.repository.UserRepository">

    <select id="getUserById" parameterType="Long" resultType="org.example.domain.user.User">
        SELECT
            id,name,
            school_number as schoolNumber,
            nick_name as nickName,
            phone_number as phoneNumber,
            gender, email,picture
        FROM USER
        WHERE id = #{id}
    </select>

    <insert id="create" parameterType="org.example.domain.user.User">
        INSERT INTO USER
            (name, password, school_number, nick_name, phone_number)
        VALUES (#{name}, #{password}, #{schoolNumber}, #{nickName}, #{phoneNumber});
    </insert>

    <delete id="delete" parameterType="org.example.domain.user.User">
        DELETE
        FROM USER
        WHERE id = #{id}
    </delete>

    <update id="update" parameterType="org.example.domain.user.User">
        UPDATE USER
        SET name = #{name},
            nick_name = #{nickName}
        WHERE id = #{id}
    </update>

</mapper>
